<div class="mediaProof row">
  <ul class="clearfix">
    <li class="small-4 medium-2 large-2 columns">
      <a class="wow bounceInTop" href="#"><img alt="Kobo" src="http://cdn.ravelbook.com/images/media-logos/kobo.png"></a>
    </li>
    <li class="small-4 medium-2 large-2 columns">
      <a class="wow bounceInTop" href="#"><img alt="Amazon Kindle" src="http://cdn.ravelbook.com/images/media-logos/amazon_kindle.png"></a>
    </li>
    <li class="small-4 medium-2 large-2 columns">
      <a class="wow bounceInTop" href="#"><img alt="Barnes and Noble Nook" src="http://cdn.ravelbook.com/images/media-logos/barnes_noble_nook.png"></a>
    </li>
    <li class="small-4 medium-2 large-2 columns">
      <a class="wow bounceInTop" href="#"><img alt="Smashwords your ebook. Your way." src="http://cdn.ravelbook.com/images/media-logos/smashwords.png"></a>
    </li>
    <li class="small-4 medium-2 large-2 columns">
      <a class="wow bounceInTop" href="#"><img alt="Google Play" src="http://cdn.ravelbook.com/images/media-logos/google_play.png"></a>
    </li>
    <li class="small-4 medium-2 large-2 columns">
      <a class="wow bounceInTop" href="#"><img alt="Apple iBooks" src="http://cdn.ravelbook.com/images/media-logos/apple_ibooks.png"></a>
    </li>
  </ul>
</div>