<div class="authorNote deepBlue">
  <div class="row">
    <div class="small-12 medium-12 large-8 columns">
      <h4>A Note From The Author</h4>
      <p>Thank you for reading my book! I hope you enjoyed reading these stories as much as I did creating them. The settings and characters in Ravel have been created with love, creativity, and lots and lots of research. If you enjoyed reading my books, then please write a review&mdash;I promise I read every one&mdash;it's your feedback that helps me craft better stories.<br>
      - Nicholas J. Marson -</p>
    </div>
    <div class="small-12 small-centered medium-12 large-4 large-uncentered columns bookAuthor"><img alt="Author image" src="/images/avatar/avatar-6.jpg"></div>
  </div>
</div>