<div class="benefits">
  <h3>Books in the series</h3>
  <div class="row content">
    <a href="/thekeyofastrea" class="cols small-12 medium-6 large-6 columns" itemscope itemtype="http://schema.org/Book">
      <p><img src="http://cdn.ravelbook.com/images/book-cover-placeholder.png" width="113"></p>
      <h4 itemprop="name">The Key of Astrea</h4>
      <p itemprop="description">Book one of the Ravel series. Jenny Tripper discovers the truth of her hallucinations, makes unusual friends, and explores new worlds.</p>
    </a>
    <div class="cols small-12 medium-6 large-6 columns" itemscope itemtype="http://schema.org/Book">
      <p><img src="http://cdn.ravelbook.com/images/book-cover-placeholder.png" width="113"></p>
      <h4 itemprop="name">[Title Pending]</h4>
      <p itemprop="description">Book two of the Ravel series. Jenny Tripper tries to adapt to life at home, and discovers that it's not the world that's changed, it's her.</p>
    </div>
  </div>
</div>