  <footer class="black">
    <div class="row clearfix">
      <span class="copyright small-12 large-4 columns">Copyright &copy; 2017 | Nicholas J. Marson</span> <span class="footerNav small-12 large-6 columns"><a href="author.html" title="Author">Author</a> | <a href="contact.html" title="E-mail Us">Contact Us</a> | <a href="affiliates.html" title="Affiliates">Affiliates</a> | <a href="privacy.html" title="Privacy Policy">Privacy Policy</a> | <a href="contents.html" title="Table of Contents">Table of Contents</a></span>
    </div>
    <div class="paymentSystem clearfix row">
      <div class="ico_visa">
        <span class="hidden">Visa</span>
      </div>
      <div class="ico_mastercard">
        <span class="hidden">Mastercard</span>
      </div>
      <div class="ico_paypal">
        <span class="hidden">Paypal</span>
      </div>
      <div class="ico_discover">
        <span class="hidden">Discover</span>
      </div>
      <div class="ico_skrill">
        <span class="hidden">Skrill</span>
      </div>
      <div class="ico_bitcoin">
        <span class="hidden">Bitcoin</span>
      </div>
      <div class="ico_americanexpress">
        <span class="hidden">American Express</span>
      </div>
      <div class="ico_googlewallet">
        <span class="hidden">Google Wallet</span>
      </div>
    </div>
  </footer>
  <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     ga('create', 'UA-9521102-5', 'auto');
     ga('require', 'linkid', 'linkid.js');
     ga('send', 'pageview');
  </script>
  <script src="http://cdn.ravelbook.com/scripts/vendor.js">
  </script>
  <script src="http://cdn.ravelbook.com/scripts/main.js">
  </script>
  <script src="/app.js"></script>
  <script>
       $(document).foundation({
           equalizer : {
           // Specify if Equalizer should make elements equal height once they become stacked.
           equalize_on_stack: true
         }
       });
  </script>
</body>
</html>