<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head class="no-js" lang="en">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Ravel - The Series - Home</title>
  <meta content="Ravel Book Series, Ravel Series, Ravel Books, Nicholas Marson, young adult books, fantasy books, science fiction books" name="keywords">
  <meta content="The official website for Ravel, the book series, and author information." name="description">
  <meta content="Nicholas J. Marson" name="author">
  <link href="https://plus.google.com/u/1/113552084609278239298?rel=author" rel="author">
  <link href="http://ravelbook.com" rel="canonical">
  <meta content="Home - Ravel" property="og:title">
  <meta content="website" property="og:type">
  <meta content="http://ravelbook.com" property="og:url">
  <meta content="The official website for Ravel, the book series, and author information." property="og:description">
  <meta content="Ravel, the book series" property="og:site_name">
  <meta content="1052045825" property="fb:admins">
  <meta content="Facebook Page ID" property="fb:page_id">
  <meta content="2511911" property="twitter:account_id">
  <meta content="nicmarson" name="twitter:nicmarson">
  <link href="http://cdn.ravelbook.com/favicons/favicon-152.png" rel="apple-touch-icon-precomposed" sizes="152x152">
  <link href="http://cdn.ravelbook.com/favicons/favicon-144.png" rel="apple-touch-icon-precomposed" sizes="144x144">
  <link href="http://cdn.ravelbook.com/favicons/favicon-120.png" rel="apple-touch-icon-precomposed" sizes="120x120">
  <link href="http://cdn.ravelbook.com/favicons/favicon-114.png" rel="apple-touch-icon-precomposed" sizes="114x114">
  <link href="http://cdn.ravelbook.com/favicons/favicon-72.png" rel="apple-touch-icon-precomposed" sizes="72x72">
  <link href="http://cdn.ravelbook.com/favicons/favicon-57.png" rel="apple-touch-icon-precomposed">
  <link href="http://cdn.ravelbook.com/favicons/favicon.png" rel="icon" sizes="32x32">
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->