<div class="newsletter row">
  <h3>Join Our Newsletter</h3>
  <p class="large-10 large-centered columns">Be the first! Sign up to receive updates and receive discounts on future book releases.</p>
  <form class="clearfix small-12 medium-9 medium-centered large-6 large-centered columns" id="mc_form" name="mc_form">
    <label for="mc_email" id="mc_msg"></label> <input class="left" id="mc_email" name="mc_email" placeholder="Enter your valid e-mail" type="email"> <input class="left" id="mc_submit" name="mc_submit" type="submit" value="GO!">
  </form>
  <p id="privacy"><span class="icon-lock"></span>We respect your privacy</p>
</div>
