<div class="paymentSystem clearfix row">
  <div class="ico_visa">
    <span class="hidden">Visa</span>
  </div>
  <div class="ico_mastercard">
    <span class="hidden">Mastercard</span>
  </div>
  <div class="ico_paypal">
    <span class="hidden">Paypal</span>
  </div>
  <div class="ico_discover">
    <span class="hidden">Discover</span>
  </div>
  <div class="ico_skrill">
    <span class="hidden">Skrill</span>
  </div>
  <div class="ico_bitcoin">
    <span class="hidden">Bitcoin</span>
  </div>
  <div class="ico_americanexpress">
    <span class="hidden">American Express</span>
  </div>
  <div class="ico_googlewallet">
    <span class="hidden">Google Wallet</span>
  </div>
</div>