<div class="pricingTables" style="background-image:url(images/background/3d_bg-min.jpg)">
  <div class="row" data-equalizer="">
    <div class="small-12 medium-4 large-4 columns wow fadeInUp" data-wow-delay="0.5s">
      <div class="pricing" data-equalizer-watch="">
        <div class="planName">
          <h3>E-book</h3>
        </div>
        <div class="planPrice">
          <p>&#36;5.99</p>
        </div>
        <div class="planDetails">
          <p>A digital copy, PDF and ePub,<br>
          for your device.</p>
        </div><a class="button buyButtonPricing red" href="#">BUY NOW!</a>
      </div>
    </div>
    <div class="small-12 medium-4 large-4 columns wow fadeInUp" data-wow-delay="1s">
      <div class="pricing" data-equalizer-watch="">
        <div class="planName">
          <h3>Audiobook</h3>
        </div>
        <div class="planPriceAlt red">
          <p>&#36;20.00</p>
        </div>
        <div class="planDetails">
          <p>Get a narrated version of the book. Available on Audible.</p>
        </div><a class="button buyButtonPricing red" href="#">BUY NOW!</a>
      </div>
    </div>
    <div class="small-12 medium-4 large-4 columns wow fadeInUp" data-wow-delay="1.5s">
      <div class="pricing" data-equalizer-watch="">
        <div class="planName">
          <h3>Hardcover</h3>
        </div>
        <div class="planPrice">
          <p>&#36;15.00</p>
        </div>
        <div class="planDetails">
          <p>A physical copy that uses static ink technology.</p>
        </div><a class="button buyButtonPricing red" href="#">BUY NOW!</a>
      </div>
    </div>
  </div>
</div>