<div class="productShowcaseOne" style="background-image:url(images/background/3d_bg-min.jpg);">
  <div class="row">
    <div class="content clearfix">
      <div class="small-12 medium-12 large-5 columns showcaseOne wow fadeInLeft" data-wow-delay="0.5s">
        <span class="icon-tablet"></span>
        <h4>Read <i>The Key of Astrea</i> on your favorite device</h4>
        <p>Follow Jenny Tripper&mdash;as she explores the worlds of Ravel&mdash;on your preferred device. You can: read a sample at Wattpad, or download a PDF or ePub; or purchase the full book at: Amazon Kindle, Kobo, Barnes &amp; Noble, Google Books, or Apple iBooks.</p><br>
      </div>
      <div class="small-12 medium-12 large-7 columns wow fadeInRight" data-wow-delay="0.5s"><img alt="E-book Showcase Image" src="/images/covers/ravel-08-min.png"></div>
    </div>
  </div>
</div>