<div class="socialButtons small-12 medium-6 columns">
  <ul>
    <li>
      <a class="ico_facebook" href="#"><span class="hidden">Like Us On Facebook</span></a>
    </li>
    <li>
      <a class="ico_pinterest" href="#"><span class="hidden">Follow On Pinterest</span></a>
    </li>
    <li>
      <a class="ico_twitter" href="#"><span class="hidden">Follow On Twitter</span></a>
    </li>
    <li>
      <a class="ico_googleplus" href="#"><span class="hidden">PlusOne On Google+</span></a>
    </li>
    <li>
      <a class="ico_linkedin" href="#"><span class="hidden">Follow On LinkedIn</span></a>
    </li>
    <li>
      <a class="ico_youtube" href="#"><span class="hidden">Subscribe On Youtube</span></a>
    </li>
    <li>
      <a class="ico_instagram" href="#"><span class="hidden">Follow On Instagram</span></a>
    </li>
  </ul>
</div>