<div class="testimonials">
  <div class="row">
    <h3>What people are saying about Ravel</h3>
    <div class="content">
      <ul class="clearfix table">
        <li class="left small-12 medium-12 large-6 columns tableCell">
          <p>&ldquo; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Unde omnis, consequuntur.&rdquo;</p>
          <div class="author left">
            <span class="authorIcon icon-user"></span>
            <ul class="authorInfo">
              <li>MyName</li>
              <li>CEO, CompanyName</li>
            </ul>
          </div>
        </li>
        <li class="right small-12 medium-12 large-6 columns tableCell">
          <p>&ldquo; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ea, perferendis error repudiandae numquam dolor fuga temporibus. Unde omnis, consequuntur.&rdquo;</p>
          <div class="author left">
            <span class="authorIcon icon-user"></span>
            <ul class="authorInfo">
              <li>MyName</li>
              <li>Designer, CompanyName</li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="clearfix table">
        <li class="left small-12 medium-12 large-6 columns tableCell">
          <p>&ldquo; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam nulla est, illo molestiae maxime officiis, quae ad, ipsum vitae deserunt molestias eius alias.&rdquo;</p>
          <div class="author left">
            <span class="authorIcon icon-user"></span>
            <ul class="authorInfo">
              <li>MyName</li>
              <li>CEO, CompanyName</li>
            </ul>
          </div>
        </li>
        <li class="right small-12 medium-12 large-6 columns tableCell">
          <p>&ldquo; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam nulla est, illo molestiae maxime officiis, quae ad, ipsum vitae deserunt molestias eius alias.&rdquo;</p>
          <div class="author left">
            <span class="authorIcon icon-user"></span>
            <ul class="authorInfo">
              <li>MyName</li>
              <li>CEO, CompanyName</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>