<div class="bgImage" style="background-image:url(images/3d_bg.jpg)">
  <div class="topBar row">
    <div class="small-12 medium-6 columns" id="logo">
      <a href="/"><svg class="logo"><use xlink:href="images/svg.svg#logo">Ravel Logo</use></svg></a>
    </div>
  </div>
  <div class="hero row clearfix">
    <header class="clearfix">
      <img alt="Ravel - The Key of Astrea" class="small-12 small-centered medium-5 large-5 large-uncentered columns" id="productHero" src="images/thekeyofastrea-cover.png">
      <div class="small-12 medium-7 large-7 columns clearfix">
        <h1>The Key of Astrea</h1>
        <h2>Book one in the Ravel series</h2>
        <p>After a strange vision, Jenny Tripper had a puzzle to solve, and a choice to make that would affect her life. If the message was true, then her hallucinations may be a sign of a hidden power, a power that could save the lives of an entire species.</p><a class="button buyButton red wow bounceInRight" href="#">&#36;5.99 | BUY NOW!<br>
        <span>Multiple formats available.</span></a>
      </div>
    </header>
  </div>
</div>