/* Footer Styles */

.footer {
  color: #f8f8f8;
  padding: 20px 0;
}

.footerNav {
  text-align: center;
  font-size: 0.75rem;
}

.copyright {
  font-size: 0.75rem;
  text-align: center;
  padding: 6px;
}

.footerNav a {
  padding: 6px;
  display: inline-block;
  color: #f8f8f8;
}

#privacy {
  font-size: 0.75rem;
}

.paymentSystem {
  display: block;
  width: 100%;
  text-align: center;
  margin: 10px auto 0 auto;
  div {
    margin-right: .5%;
    margin-bottom: 5px;
  }
}
