// Mailchimp Newsletter

input {
  &[type="email"], &[type="submit"] {
    height: 48px;
  }
  &[type="email"]:focus {
    box-shadow: none;
  }
}

#mc_msg {
  padding: 10px 20px;
}

#newsletter-form span.error {
  background: red;
  background: rgba(224, 0, 0, 0.8);
  border: 1px solid red;
  border-radius: 3px;
  color: $white;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  right: 10px;
  text-transform: uppercase;
  top: -15px;
}

.newsletter {
  text-align: center;
  form {
    margin-bottom: 20px;
  }
  span {
    color: $dark-gray;
  }
  h3 {
    color: $dark-blue;
  }
  .spinner {
    height: 40px;
    margin: 0 auto;
    width: 80px;
  }
  .square {
    background: $white;
    background: rgba(49, 49, 49, 0.6);
    height: 15px;
    width: 15px;
    display: inline-block;
  }
  .success {
    margin: 40px 0 30px 0;
    min-height: 80px;
    color: $dark-blue;
    font-size: 1.5rem;
    .icon {
      color: $dark-blue;
      display: inline-block;
      font-size: 18px;
      height: 24px;
      line-height: 1.5;
      margin-right: 3px;
      text-align: center;
      vertical-align: top;
      width: 24px;
    }
  }
}
