/* ========== Author ========== */

.author {
  ul {
    width: auto;
  }
  img, .authorInfo {
    display: inline-block;
    vertical-align: middle;
  }
  img {
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    width: 64px;
    height: 64px;
  }
  .authorInfo {
    text-align: left;
    line-height: 1.4;
    margin-top: 0;
  }
  .authorInfo li {
    &:first-child {
      font-size: 16px;
      font-size: 1rem;
      font-weight: 500;
    }
    &:last-child {
      font-size: 14px;
      font-size: 0.875rem;
    }
  }
  .authorIcon {
    font-size: 36px;
  }
}

.authorNote {
  color: $white;

  h4 {
    color: $alabaster;
    font-weight: 400;
  }
}

.bookAuthor img {
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  float: none;
  margin-right: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
