/* ========== Sections ========== */

.bgImage,
.productShowcaseOne,
.pricingTables {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    h1,
    h2 {
        color: $alabaster;
    }

    cite {
        bottom: 1em;
        position: absolute;
        right: 1em;

        a {
            color: $white;
            text-decoration: underline;
        }
    }
}

.bgImage {
    background-image: linear-gradient(rgba(49, 49, 49, 0.5), rgba(49, 49, 49, 0.5));
    background-image: url(http://cdn.ravelbook.com/images/forest_bg.jpg);
    background-position: bottom center;
}

.productShowcaseOne {
    background-image: url(http://cdn.ravelbook.com/images/hanger_bg.jpg);
    background-position: center center;
}

.pricingTables {
    background-image: url(http://cdn.ravelbook.com/images/hike_bg.jpg);
    background-position: center center;
}

/* ========== Column and Showcase Icon Font Styles ========== */

.showcaseOne,
.showcaseTwo {
    display: inline-block;
    margin: 60px 0;

    span {
        font-size: 3rem;
        border-radius: 50%;
        border: 2px solid $white;
        line-height: 80px;
        text-align: center;
        display: block;
        width: 82px;
        height: 82px;
        margin: 0 auto 20px auto;
    }
}

.showcaseOne {
    h4, p, span {
        color: $alabaster;
        font-weight: 400;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    }
    span {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    }
}

.showcaseTwo {
    h4, p, span {
        color: $alabaster;
        font-weight: 400;
    }
}

.cols span {
    font-size: 3rem;
    border-radius: 50%;
    border: 2px solid $white;
    line-height: 80px;
    text-align: center;
    display: block;
    width: 82px;
    height: 82px;
    margin: 0 auto 20px auto;
    box-shadow: none;
    font-size: 2rem;
    border: 2px solid $carrot;
    width: 52px;
    height: 52px;
    color: $carrot;
    line-height: 48px;
}

.benefits,
.pricingTables,
.testimonials,
.newsletter,
.authorNote {
    padding-top: 80px;
    padding-bottom: 80px;
}

.benefits,
.testimonials,
.pricing .planPrice {
    background-color: #f0f0f0;
    border-top: 1px solid $gallery;
    border-bottom: 1px solid $gallery;
}

.pricingTables > div,
.testimonials > div {
    padding: 0 2%;
}

.benefits {
    text-align: center;

    h3, h4, p {
        color: $dark-gray;
    }
    h4,
    p {
        text-align: center;
    }
}

.testimonials h3 {
    color: $dark-gray;
}

.testimonials p {
    font-style: italic;
    text-align: left;
}

.browserupgrade {
    margin: 0.2em 0;
    background: $light-gray;
    color: $black;
    padding: 0.2em 0;
}
