// All Mods

/* ============ Color Schemes ============ */

.purple {
  background-color: $purple;
}

.red {
  background-color: $red;
}

.grey {
  background-color: $gray;
}

.darkBlue {
  background-color: $dark-blue;
}

.yellow {
  background-color: $yellow;
}

.deepBlue {
  background-color: $deep-blue;
}

.turquoise {
  background-color: $turquoise;
}

.carrot {
  background-color: $carrot;
}

.brightBlue {
  background-color: $bright-blue;
}

.black {
  background-color: $dark-gray;
}

.blue {
  background-color: $blue;
}

.orange {
  background-color: $orange;
}

.lightBlue {
  background-color: $light-blue;
}

.green {
  background-color: $green;
}


.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
